<!DOCTYPE html>
<html>
<head>
<title>Danh sách các thành viên</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/admin.css">
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--//web-fonts-->
</head>
<body>
    <div class="container">
    <%- include('../elements/header'); %>
    <h2>Danh sách thành viên</h2>
        <div id="form-search">
            <form class="form-inline">
                <div class="form-group mb-2">
                    <label for="staticEmail2" class="sr-only">Email</label>
                    <input type="text" class="form-control" name="key" id="staticEmail2" value="<%= query.key %>" placeholder="Nhập email tìm kiếm">
                </div>
                <!--<div class="form-group mb-2 mx-sm-3">-->
                    <!--<label for="phone" class="sr-only">Email</label>-->
                    <!--<input type="text" class="form-control" name="phone" id="phone" placeholder="Số điện thoai">-->
                <!--</div>-->
                <!--<div class="form-group mb-2">-->
                    <!--<select class="form-control" name="isVip">-->
                        <!--<option>Trạng thái Víp</option>-->
                        <!--<option value="0">Chưa Vip</option>-->
                        <!--<option value="1">Vip</option>-->
                    <!--</select>-->
                <!--</div>-->
                <div class="mx-sm-3">
                    <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
                </div>

            </form>
        </div>
    <table class="table table-border">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width:120px">Hình ảnh</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mã code</th>
                    <th scope="col">Vip</th>
                    <th scope="col">Hạn vip</th>
                    <th scope="col">Mật khẩu</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                    </tr>
            </thead>
            <tbody>
                <% var dem = 0; %>
                <% users.forEach(function(user){ %>
                    <% dem++; %>
                    <tr>
                        <td><%= dem %></td>
                        <td><img src="<%= user.avatar %>" height="100" width="100" /></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td>
                            <%= user.userCode %>
                        </td>
                        <td><%- (user.isVip) ? '<i class="fa fa-star fa-yellow"></i>' : '<i class="fa fa-star-o fa-yellow"></i>' %></td>
                        <td><%= user.vipExpires %></td>
                        <td><%= user.passwordConf %></td>
                        <td><%= (user.role) ? 'Admin' : 'Member' %></td>
                        <td>
                            <div class="btn-group">
                                <a href="javascript:void(0)" title="<%= user.username %>" code="<%= user.userCode %>" class="btn btn-sm btn-info"><i class="fa fa-qrcode"></i></a>
                                <a href="/users/edit/<%= user._id %>" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" id="<%= user._id %>" class="btn btn-sm btn-danger btn-delete"><i class="fa fa-trash"></i></a> 
                            </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Code Nhúng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
    <script>
        $(".btn-info").click(function(){
            $("#exampleModal").modal();
            var codenhung = ' <div id="chat24h" data-user-id="'+ $(this).attr('code') +'"></div>';
                codenhung +='<script src="http://chat24h.net/chat24.js">';
                    codenhung += '<\/script>';
            $("#exampleModal .modal-title").text($(this).attr('title'));
            $("#exampleModal .modal-body").text(codenhung);
        });
        $('.btn-delete').click(function(){
            var conf = confirm("Bạn chắc chắn muốn xóa ?");
            if (!conf) {
                return false;
            }
            var id = $(this).attr("id");
            $.ajax({
                type:'POST',
                url : '/users/delete',
                data : {
                    _id : id
                },
                dataType: 'json',
                success(data) {
                    if (data.error == 'OK') {
                        location.href = "/users";
                    }else {
                        alert("Xóa thất bại");
                    }

                }
            })
        })
    </script>
</body>
</html>
